@media all {
    body {
        background: #202731;
        color:white;
        min-width: 700px;
    }

    section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        padding: 100px 20vw;
    }
}