@media all {

  body {
    height: 100vh;
    margin: 0px;
  }
  
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 100px 20vw;
    align-items: center;
  }

}
