@media all {

  section {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 100px 20vw;
    align-items: center;
  }

  /* scrollbar */
  div::-webkit-scrollbar {
    width: 12px;
  }

  div::-webkit-scrollbar-thumb {
    border: 2px solid #ffffff2f;
    border-radius: 20px;
  }
}
