@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1.big-heading {
    /*TODO cleanup this crap*/
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 800;
    white-space: nowrap;
  }
  h1.smaller-heading {
    font-size: clamp(30px, 8vw, 50px);
    font-weight: 800;
    white-space: nowrap;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-xl;
  }
}
